.sideBar {
  width: 500px;
  background-color: var(--system-color);
  padding: 0 16px;
}

.listBoxWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var(--border);
}

.countryBox {
  width: 135px;
  font-size: 13px;
  color: var(--text-color);
}

.counter {
  display: flex;
  flex-direction: column;
  width: 85px;
}

.counter > :nth-child(n + 2) {
  margin-top: 7px;
  font-size: 12px;
}

.text {
  color: var(--text-color);
}

.confirmed {
  color: var(--confirmed);
}

.deaths {
  color: var(--brithnes);
}

.existing {
  color: var(--existing);
}

.recovered {
  color: var(--recovered);
}
