.header,
.brand-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 12px 24px;
  background-color: var(--darkness-system-color);
  border-bottom: 1px solid var(--border);
}

.cotaLogo{
  width: 100px;
  height: 32px;
  object-fit: cover;
  padding-right: 27px;
}

.rnboLogo{
  width: 32px;
  height: 32px;
  object-fit: cover;
  padding-right: 12px;
}

.brand-box>:nth-child(n+2){
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-left: 1px solid var(--lithnes-system-color);
}

.language-box>:nth-child(1){
  padding-right: 16px;
}

.language-box>:nth-child(n+2){
  padding: 0 16px;
  border-left: 1px solid var(--lithnes-system-color); 
}

.header-text{
  font-size: 15px;
  color: var(--brithnes);
}

.header-lang{
  font-size: 14px;
  cursor: pointer;
  color: var(--lithnes-text-color);
}