.btns-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 16px 0;
  min-width: 250px;
  font-size: 14px;
  color: var(--text-color);
  outline: none;
  background-color: var(--darkness-system-color);
  transition: 0.25s;
}

.btn:focus {
  outline: 1px solid var(--secondary-system-color);
}

.active {
  color: var(--brithnes);
  font-size: 16px;
  background-color: var(--active-system-color);
}
