.btn {
  min-width: 250px;
  padding: 16px 0;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 16px;
  color: var(--brithnes);
  font-weight: 700;
  outline: none;
  background-color: var(--system-color);
  transition: 0.15s;
}

.btn:hover {
  background-color: var(--active-system-color);
}

.btn:focus {
  outline: 2px solid var(--border);
}

.active {
  min-width: 250px;
  padding: 16px 0;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 16px;
  color: var(--brithnes);
  font-weight: 700;
  outline: none;
  transition: 0.15s;
  background-color: var(--active-system-color);
}

.searchBox {
  margin: 10px;
  padding: 5px 12px;
  min-width: 450px;
  border: 1px solid var(--border);
  background-color: var(--active-system-color);
}

.searchBox i {
  margin-left: 5px;
  color: var(--secondary-system-color);
}

.regionSearch {
  min-width: 410px;
  padding: 5px 16px;
  margin-left: 20px;
  border: 1px solid transparent;
  background: transparent;
  font-size: 15px;
  color: var(--text-color);
  border-left: 1px solid currentColor;
  outline: none;
}