.btn {
  min-width: 250px;
  padding: 16px 0;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 16px;
  color: var(--brithnes);
  font-weight: 700;
  outline: none;
  background-color: var(--system-color);
  transition: 0.15s;
}

.btn:hover {
  background-color: var(--active-system-color);
}

.btn:focus {
  outline: 1px solid var(--secondary-system-color);
}

.btn.active {
  background-color: var(--active-system-color);
}

.regionSearch {
  margin: 16px 12px;
  padding: 8px 16px;
  min-width: 450px;
  font-size: 15px;
  border: 1px solid transparent;
  outline: none;
  color: var(--text-color);
  background-color: var(--active-system-color);
}

.regionSearch:focus {
  outline: 1px solid var(--secondary-system-color);
}
